numpy>=2.0.2,<3.0
pandas>=2.3.3,<3.0
matplotlib>=3.9.4,<4.0
seaborn
scipy>=1.13.1,<2.0
statsmodels>=0.14.6,<1.0
plotly
pyyaml
streamlit
scanpy>=1.10.3,<2.0
gseapy>=1.2.1,<2.0
# Enrichr snapshot date: May 11, 2026

